############################################
# Visual Studio
############################################

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

############################################
# Build folders
############################################

Debug/
Release/
x64/
x86/
build/

############################################
# Compiled files
############################################

*.obj
*.o
*.lo
*.la
*.a
*.lib

############################################
# Executables
############################################

*.exe
*.out
*.app

############################################
# Debug / profiling
############################################

*.pdb
*.idb
*.ilk
*.log

############################################
# CMake (si tu l'utilises plus tard)
############################################

CMakeFiles/
CMakeCache.txt
cmake-build-*/

############################################
# Vulkan / shader build
############################################

*.spv
*.shadercache

############################################
# OS files
############################################

.DS_Store
Thumbs.db

############################################
# Temporary files
############################################

*.tmp
*.temp

############################################
# IDEs
############################################

.idea/
.vscode/

############################################
# Generated assets
############################################

Generated/
Cache/
Temp/